body {
    position: relative;
    background-color: black;
    background-image: url("0backgroundFINAL.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


  #Jeu {
    position: absolute;
    top: 250px;
    left: 450px;
  }

  span{
    display: none;
    width: 110%;
    height:10px;
    background-image: url("winingBar\ .png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 10px;
    position:absolute;
  }
  
  #Jeu div {
    display: flex;
  }

  button{
    color: transparent;
  }
  
  .left{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid transparent;
  }

  .mid{
    width: 190px;
    height: 150px;
    background-color: transparent;
    border: 2px solid transparent;
  }

  .right{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid transparent;
  }
  
  #StatutJeu {
    justify-content: center;
    width:490px;
    color: white;
    background-color: transparent;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
  }
  

  .croix{
    background-image: url("Xoxo_X_wobg.png");
    background-size: 150px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rond{
    background-image: url("Xoxo_0_wobg.png");
    background-size: 150px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

