body{
    background-color: black;
    background-image: url("assets/0backgroundFINAL.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display:flex; 
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

#buy{
    background-image: url("assets/buy1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
}

#buy:hover{
    background-image: url("assets/gif/buy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#connect{
    background-image: url("assets/connect.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15%;
    height: 100%;
}

#connect:hover{
    background-image: url("assets/gif/connect.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    width: 13%;
    height: 30vh;
    position:absolute;
    top:10%;
    left:0;
    display: none;
}

li{
    list-style: none;
    width:100%;
    height: 10vh;
}

#joe{
    background-image: url("assets/buy.png");
    background-size:100% 90%;
    background-repeat: no-repeat;
    background-position: center;
}
#campfire{
    background-image: url("assets/buy.png");
    background-size:100% 90%;
    background-repeat: no-repeat;
    background-position: center;
}
#kalao{
    background-image: url("assets/buy.png");
    background-size:100% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

a{
    color: transparent;
    font-size: 78px;
    width: 100%;
    text-align: right;
    position: absolute;
    right:0;

}

#play{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
    background-color: aquamarine;
    width: 35%;
    height: 20vh;

}

#sign{
    background-image: url("assets/sign1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 10vh;
    position: absolute;
    right:0px;
    bottom: 0px;
}

#sign:hover{
    background-image: url("assets/gif/sign.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

