body{
    background-color: black;
    background-image: url("assets/0backgroundFINAL.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display:flex; 
    justify-content: space-between;
    width: 100%;
}

#buy{
    background-image: url("assets/buy1.png");
    background-size: 150px 100px;
    width: 150px;
    height: 75px;
}

#buy:hover{
    background-image: url("assets/gif/buy.gif");
    background-size: 150px 100px;
}

#connect{
    background-image: url("assets/connect.png");
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
}

#connect:hover{
    background-image: url("assets/gif/connect.gif");
    background-size: 200px 100px;
}

nav{
    width: 150px;
    height: 150px;
    position:absolute;
    top:10%;
    left:0;
    display: none;
}

li{
    list-style: none;
    width:150px;
    height: 50px;
}

#joe{
    background-image: url("assets/buy.png");
    background-size:150px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#campfire{
    background-image: url("assets/buy.png");
    background-size:150px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#kalao{
    background-image: url("assets/buy.png");
    background-size:150px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

a{
    color: transparent;
    font-size: 78px

}

#play{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
    background-color: aquamarine;
    width: 300px;
    height: 150px;

}

#sign{
    background-image: url("assets/sign1.png");
    background-size: 300px 100px;
    width: 300px;
    height: 100px;
    position: absolute;
    right:0px;
    bottom: 0px;
}

#sign:hover{
    background-image: url("assets/gif/sign.gif");
    background-size: 300px 100px;
}

